<h1>Torrent files</h1>
<button (click)="refreshData()" class="btn btn-secondary" [disabled]="refreshing">
  @if (refreshing) { <i class="fa fa-spinner fa-spin me-2"></i> }
  Refresh data
</button>
@if (this.torrentList != null) {
<table class="table table-bordered table-striped table-hover modern-table">
  <thead>
  <tr>
    <th>File</th>
  </tr>
  </thead>
  <tbody>
    @for (torrentInfo of torrentList; track torrentInfo) {
      <tr>
        <td>{{torrentInfo}}</td>
      </tr>
    }
  </tbody>
</table>
}
